@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-semibold";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
